<nav class="container container-sm container-md container-lg container-xl container-xxl w-100">
    <div class="d-flex align-items-center justify-content-between w-100 position-relative">
        <div class="d-flex align-items-center me-auto">
            <button type="button"
                class="btn btn-light me-2 rounded-circle p-1 font-24 bx bx-menu d-inline d-sm-inline d-md-none"
                id="sidebarBtn" data-opt="open"></button>
            <a class="navbar-brand me-4" href="index.html">
                <img src="./src/images/logo.png" class="d-inline-block" width="60">
            </a>
        </div>
        <div class="d-flex align-items-center ms-auto">
            <div class="nav-search">
                <form action="" class="bg-light rounded-2 d-flex align-items-center me-2 p-1 px-2 w-100">
                    <input class="form-control border-0 font-14 shadow-none bg-transparent px-1" type="search" name="search"
                        placeholder="Search" value="">
                    <button class="btn font-18 bx bx-search-alt p-0" type="submit"></button>
                </form>
            </div>
            <ul class="navbar-nav nav-right d-flex align-items-center">
                <li class="nav-item px-2">
                    <a class="nav-link text-dark btn p-1 shadow-none fw-normal rounded-circle bx bx-bell font-24 position-relative"
                        href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <span
                            class="bg-primary text-white position-absolute rounded-circle font-12 shadow-sm nav-badge">
                            0
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow py-0 rounded-4">
                        <div class="card border-0 bg-transparent">
                            <div class="card-header bg-transparent d-flex align-items-center justify-content-between">
                                <h3 class="m-0 font-14 fw-bold">Notifications (1)</h3>
                                <a href="" class="btn btn-link p-1 ms-auto">Mark as all read</a>
                            </div>
                            <div class="card-body p-0">
                                <a class="dropdown-item d-flex align-items-center py-2 border-bottom" href="#">
                                    <div class="size-40 rounded-circle">
                                        <img src="./src/images/avatar.png" alt="Avatar"
                                            class="object-cover rounded-circle h-100 w-100">
                                    </div>
                                    <div class="mx-2">
                                        <h3 class="font-14 m-0 mb-1 fw-normal">
                                            <b>Abdul</b> title of a notification
                                        </h3>
                                        <p class="font-12 m-0 d-flex align-items-center">
                                            <span class="bx bx-time me-1"></span> 1 hr
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center py-2 border-bottom" href="#">
                                    <div class="size-40 rounded-circle">
                                        <img src="./src/images/avatar.png" alt="Avatar"
                                            class="object-cover rounded-circle h-100 w-100">
                                    </div>
                                    <div class="mx-2">
                                        <h3 class="font-14 m-0 mb-1 fw-normal">
                                            <b>Abdul</b> title of a notification
                                        </h3>
                                        <p class="font-12 m-0 d-flex align-items-center">
                                            <span class="bx bx-time me-1"></span> 1 hr
                                        </p>
                                    </div>
                                </a>
                                <h3 class="m-0 py-4 text-center font-14 fw-bold">No notifications yet!</h3>
                            </div>
                            <div class="card-footer bg-transparent p-1 text-center">
                                <a href="notifications.html" class="btn btn-sm btn-light fw-bold rounded-pill px-4">View all</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-dark btn p-1 shadow-none fw-normal rounded-circle bx bx-envelope font-24 position-relative"
                        href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <span
                            class="bg-primary text-white position-absolute rounded-circle font-12 shadow-sm nav-badge">
                            0
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow py-0 rounded-4">
                        <div class="card border-0 bg-transparent">
                            <div class="card-header bg-transparent d-flex align-items-center justify-content-between">
                                <h3 class="m-0 font-14 fw-bold">Messages (1)</h3>
                                <a href="" class="btn btn-link p-1 ms-auto">Mark as all read</a>
                            </div>
                            <div class="card-body p-0">
                                <a class="dropdown-item d-flex align-items-center py-2 border-bottom" href="#">
                                    <div class="size-40 rounded-circle">
                                        <img src="./src/images/avatar.png" alt="Avatar"
                                            class="object-cover rounded-circle h-100 w-100">
                                    </div>
                                    <div class="mx-2">
                                        <h3 class="font-14 m-0 mb-1 fw-normal">
                                            <b>Abdul</b> title of a message
                                        </h3>
                                        <p class="font-12 m-0 d-flex align-items-center">
                                            <span class="bx bx-time me-1"></span> 1 hr
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center py-2 border-bottom" href="#">
                                    <div class="size-40 rounded-circle">
                                        <img src="./src/images/avatar.png" alt="Avatar"
                                            class="object-cover rounded-circle h-100 w-100">
                                    </div>
                                    <div class="mx-2">
                                        <h3 class="font-14 m-0 mb-1 fw-normal">
                                            <b>Abdul</b> title of a message
                                        </h3>
                                        <p class="font-12 m-0 d-flex align-items-center">
                                            <span class="bx bx-time me-1"></span> 1 hr
                                        </p>
                                    </div>
                                </a>
                                <h3 class="m-0 py-4 text-center font-14 fw-bold">No messages yet!</h3>
                            </div>
                            <div class="card-footer bg-transparent p-1 text-center">
                                <a href="messages.html" class="btn btn-sm btn-light fw-bold rounded-pill px-4">View all</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-2 dropdown pe-0">
                    <a href="javascript:void(0)" data-bs-toggle="dropdown" class="text-decoration-none">
                        <div class="size-35">
                            <img src="./src/images/ceo.png" alt=""
                                class="rounded-circle w-100 h-100 img-thumbnail object-cover">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow rounded-4 font-14" style="width:200px;">
                        <li>
                            <a href="profile.html" class="dropdown-item d-flex align-items-center text-dark">
                                <div class="me-2 size-40">
                                    <img src="./src/images/ceo.png"
                                        class="rounded-circle border w-100 h-100 object-center object-cover" />
                                </div>
                                <div class="me-2">
                                    <h6 class="mb-0 fw-bold font-14 text-truncate">Abdul hannan</h6>
                                    <p class="m-0 text-truncate text-muted">@abdul</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-dark" href="profile.html">
                                <b class="bx bx-user-circle me-2 rounded-circle bg-light p-1 font-18 text-primary"></b>
                                Profile
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <a class="btn btn-primary shadow-none w-100 px-3 rounded-pill fw-bold mx-1"
                                    href="index.html">Logout</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>