<div class="accordion" id="sidebarmenu">
    <ul class="list-group py-2">
        <li class="list-group-item border-0 active">
            <a href="">
                <i class="bx bx-tv font-20"></i> <span> Feeds </span>
            </a>
        </li>
        <li class="list-group-item border-0 pb-0 fw-bold text-muted">Modules</li>
        <li class="list-group-item border-0 ">
            <a href="">
                <i class="bx bx-group font-20"></i> <span> Team </span>
            </a>
        </li>
        <li class="list-group-item border-0 ">
            <a href="javascript: void(0);" data-bs-toggle="collapse" data-bs-target="#blogsmenu">
                <i class="bx bx-edit font-20"></i>
                <span> Blogs </span>
                <span class="bx bx-chevron-down font-20"></span>
            </a>
            <div class="list-group sub-menu ps-4 collapse py-2" id="blogsmenu"
                data-bs-parent="#sidebarmenu">
                <a href="" class="list-group-item border-0 shadow-none py-1">Menu 1</a>
                <a href="" class="list-group-item border-0 shadow-none py-1">Menu 2</a>
            </div>
        </li>
        <li class="list-group-item border-0">
            <a href="">
                <i class="bx bx-tv font-20"></i> <span> Feeds </span>
            </a>
        </li>
        <li class="list-group-item border-0">
            <a href="">
                <i class="bx bx-group font-20"></i> <span> Team </span>
            </a>
        </li>
    </ul>
</div>